/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	 background-image: url("image1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
background-position: center-top;
  /* The background image */
  background-image: url("image1.jpg");

  /* Set a specified height, or the minimum height for the background image */
  min-height: 500px;

  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;

  /* Center the background image */
  background-position: center;

  /* Set the background image to no repeat */
  background-repeat: no-repeat;

  /* Scale the background image to be as large as possible */
  background-size: cover;
}

#wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* set this value higher than any other elements on the page */
}


/* Header styles */
header {
  background-color: rgb(229, 20, 177);
  transition: background-color 0.5s ease;
  height: 20vh;
 
}


header:hover {
  background-color: aqua;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

.animate-charcter
{
  position: absolute;
  top: -340px;
  left: 120px;
  width: 1000px;
  font-family: 'algerian', Timesnewroman, serif;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
nav {
  position: absolute;
  top: 70px;
  left: 460px;
}
nav ul {
 float: right;
 list-style-type: none;
 margin-top: 30px;
 margin-right: 350px;
 min-height: 400px;
 font-size: 20px;
}

nav ul li {
 display: inline-block;
}

nav li a {
 text-decoration: solid;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #443ca0f6;
 padding: 5px 20px;
 border: 1px solid transparent;
 transition: 0.5 ease;
}
nav li a:hover{
  background-color: #fff;
  color: #151414;
}
nav li.active {
  background-color: #fff;
  color: #151414;
}
.logo img{
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.container{
  position: absolute;
  top: 30%;
  left: 340px;
}
   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }
 .searchBox {
      position: absolute;
      top: 0px;
      left: 20px;
      transform:  translate(-50%,50%);
      background: #2f3640;
      height: 20px;
      border-radius: 40px;
      padding: 10px;
  
  }
  
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 1px;
      color: #fff;
  background: #2f3640; 
 height: 20px;
      border-radius: 40px;  
position: absolute;
top: 0px;
left: 18px;
    
  }
  
  .searchBox:hover > .searchButton {
    background: white;
    color : #2f3640;
  }
  
  .searchButton {
      color: rgb(248, 216, 216);
      float: right;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.7s;
  }
  
  .searchInput {
      border:none;
      background: none;
      outline:none;
      float:left;
      position: absolute;
      left: 20px;
      top: -10px;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
  
  }
  
  @media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
  }
  }

  main{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 138px;
    display: flex;
    background: #0f02418f;
  }
.all-one{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 350px;
  display: flex;
}
.all-one .fixed-one {
  outline-style: color (rgb(25, 25, 61));
  height: 90%;
  width: 20%;
  position: fixed;
  top: 138px;
  display: flex 50%;
color: #fff;
background: #020142af;
}
.all-one .move-one {
  height: 90%;
  width: 80%;
  position: absolute;
  top: -350px;
left: 275px;
  display: flex 50%;
color: black;
background: azure;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }
        
   
  }
  .drop-down {
position:absolute;
top: -10px;
left: 0px;
}
.drop-down .down-list li a{
color: #fff;
font-weight: bolder;
font-size: 20px;
 text-decoration: solid;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 padding: 10px 15px;
 border: 1px solid transparent;

}
.drop-down .down-list li a:hover{
  color: #00fff2;
  font-size: 23px;
  font-style: italic;
}
.drop-down .down-list .am-on a{
  color: #3e00cf;
} 

.drop-down .down-list .am-on {
color: #007ff7;
font-size: 100px;

}
.move-one .Search-song h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: bolder;
  color: rgba(5, 44, 218, 0.918);
  position: absolute;
  top: 10px;
  left: 250px;
}
.move-one .Search-song .search-now{
  position: absolute;
  top: 100px;
  left: 230px;
  background: #2f3640;
  color:rgb(187, 240, 186);
  height: 50px;
width: 500px;
border-radius: 30px;
padding: 0 01px;

}
.move-one .Search-song .search-now .main-search {
  height: 49px;
  width: 499px;
border-radius: 30px;
position: absolute;
top: 0px;
left: 0px;
}
.move-one .Search-song .search-now .main-search input{
  font-size: 20px;
  color: #151414;
}
.move-one .Search-song .search-now button{
  height: 40px;
  width: 100px;
  background: #00fff2;
  color: #1d005f;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bolder;
  position: absolute;
  top: 60px;
  left: 200px;
}
marquee {
  position:  absolute;
  left: 270px;
  top: 210px;
  height: 30px;
  width: 400px;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, Arial Narrow Bold, 'sans-serif';
  color: rgb(1, 10, 65);
}
.move-one .inst-searcch {
  position: absolute;
  top: 3px;
  left: 50px;
}
.move-one .inst-searcch  img {
height: 80px;
width: 80px;
border-radius: 40px;
background: #a1c6ec;

}
.move-one .inst-searcch h3{
  color: #4c00ff;
  font-size: 0.85rem;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.move-one .inst-searcch .ns-one{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 250px;
  left: 100px;
}
.move-one .inst-searcch .ns-one img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-one h3{
  position: absolute;
  top: 100px;
  left: 10px;
}
.move-one .inst-searcch .ns-two{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 250px;
  left: 250px;
}
.move-one .inst-searcch .ns-two img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-two h3{
  position: absolute;
  top: 100px;
  left: 01px;
}
.move-one .inst-searcch .ns-three{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 250px;
  left: 400px;
}
.move-one .inst-searcch .ns-three img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-three h3{
  position: absolute;
  top: 100px;
  left: 15px;
}
.move-one .inst-searcch .ns-four{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 250px;
  left: 550px;
}
.move-one .inst-searcch .ns-four img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-four h3{
  position: absolute;
  top: 100px;
  left: 25px;
}
.move-one .inst-searcch .ns-five{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 250px;
  left: 700px;
}
.move-one .inst-searcch .ns-five img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-five h3{
  position: absolute;
  top: 100px;
  left: 10px;
}
.move-one .inst-searcch .ns-six{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 410px;
  left: 100px;
}
.move-one .inst-searcch .ns-six img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-six h3{
  position: absolute;
  top: 100px;
  left: 25px;
}
.move-one .inst-searcch .ns-seven{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 410px;
  left: 250px;
}
.move-one .inst-searcch .ns-seven img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-seven h3{
  position: absolute;
  top: 100px;
  left: 20px;
}
.move-one .inst-searcch .ns-eight{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 410px;
  left: 400px;
}
.move-one .inst-searcch .ns-eight img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-eight h3{
  position: absolute;
  top: 100px;
  left: 10px;
}
.move-one .inst-searcch .ns-nine{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 410px;
  left: 550px;
}
.move-one .inst-searcch .ns-nine img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-nine h3{
  position: absolute;
  top: 100px;
  left: 07px;
}
.move-one .inst-searcch .ns-ten{
  height: 120px;
  width: 100px;
  border-radius: 10px;
  border-color: #05000f;
  background: #0026ff2f;
  position: absolute;
  top: 410px;
  left: 700px;
}
.move-one .inst-searcch .ns-ten img{
 position: absolute;
 top: 05px;
 left: 10px;

}
.move-one .inst-searcch .ns-ten h3{
  position: absolute;
  top: 100px;
  left: 25px;
}