/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
       background-image: url("image6.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
  background-position: center-top;
    /* The background image */
    background-image: url("image6.jpg");
  
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
  
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
  
    /* Center the background image */
    background-position: center;
  
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
  
    /* Scale the background image to be as large as possible */
    background-size: cover;
  }
  
  #wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* set this value higher than any other elements on the page */
  }
  
  
  /* Header styles */
  header {
    background-color: rgb(229, 20, 177);
    transition: background-color 0.5s ease;
    height: 20vh;
   
  }
  
  
  header:hover {
    background-color: aqua;
  }
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
  
  .animate-charcter
  {
    position: relative;
    top: 5px;
    left: 20px;
    font-family: 'algerian', Timesnewroman, serif;
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 80px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  nav ul {
   float: right;
   list-style-type: none;
   margin-top: 30px;
   margin-right: 350px;
   min-height: 400px;
   font-size: 20px;
  }
  
  nav ul li {
   display: inline-block;
  }
  
  nav li a {
   text-decoration: solid;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #443ca0f6;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.5 ease;
  }
  nav li a:hover{
    background-color: #fff;
    color: #151414;
  }
  nav li.active {
    background-color: #fff;
    color: #151414;
  }
  .logo img{
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 45px;
  }
  .container{
    position: absolute;
    top: 30%;
    left: 340px;
  }
     .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff; }
  
  .animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite; }
  
  @-webkit-keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px); } }
  
  @keyframes animborder {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); }
    100% {
      -webkit-transform: translateX(113px);
      transform: translateX(113px); } }
  
  .animate-border.border-white:after {
    border-color: #fff; }
  
  .animate-border.border-yellow:after {
    border-color: #F5B02E; }
  
  .animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff; }
  
  .animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF; }
  
  .animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8; }
  